header img {
    height: 80px;
    margin-left: 40px;
}
body {
    height: 125vh;
    background-image: url('#');
    background-size: cover;
    font-family: Trebuchet, sans-serif;
    margin-top: 80px;
    padding: 30px;
}

main {
    color: white;
}

header {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: white;
    text-decoration: none;
}



ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;